:javascript
	function go(){
		x = document.getElementById("tweeter")
		y = document.getElementById("nothing")
		y.innerHTML = "<span style=\"background:red;\">Loading...</span>"
		window.location = "/" + x.value
	}
%h1 Hello,
%h2 And thanks for visiting. Enter the name of your suspected Ego in the following textbox:
%br
%p
	%form{:method => "get", :action => "javascript: go()"}
		%input{	:type => "text", :id => "tweeter", :value => "twitter user here",
			 :style => "font-size:25px"}
		%input{:type => "submit", :value => "Lookup", :style => "font-size:25px;margin-left:10px"}
%br
%h2 
	No need for security concerns; only publicly available usernames are required.
%br
%h2 
	Comments are welcome, and will be aggregated
	%a{:href => "http://blog.ethanjfast.com/2009/12/the-tweeting-narcissist/"} here. 
	The source for this project is available at 
	%a{:href => "http://github.com/Ejhfast/Narcissist"} github.
%br
%br
%h1{:id => "nothing"}
