%br
%h2 
	%strong Mentions of self: 
	%br
	Descriptive terms such as those of the set {my, me, mine, I, I'm, I'll}. 
%br	
%h2 Any suggestions are quite welcome as far as they enable a better calculation. 