%br
%h1 Dearest Friend,
%br
%h2 
	Alas, we have searched near and far, but the requested user
	%span{:style => "background:red"} does not appear to exist.
%br
%h2 
	Alternatively, it is conceivable that this application has 
	%span{:style => "background:red"} fallen victim 
	to the 
	%span{:style => "text-decoration:underline"} 
		%a{:href => "http://apiwiki.twitter.com/Rate-limiting"} draconian 
	restrictions of Twitter's API. In any event, you must joust with your 
	unicorns elsewhere.
%br
%h2 --NQ